@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Ysabeau+Infant:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.font-header {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 6.5rem;
}

.font-primary {
  font-family: 'Cormorant Garamond', serif;
}

.font-secondary {
  font-family: 'Ysabeau Infant', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 235, 255, 255;
    --background-start-rgb: 1, 5, 10;

    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
